<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.sdp.healthplay">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthPlay">
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false"/>
        <activity
            android:name=".MonthlyLeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntNewPlantActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntCreateJoinLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntWaitLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntMainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".friendlist.FriendListItemActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntCreateLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntJoinLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntCollectionItemActivity"
            android:exported="false" />
        <activity
            android:name=".planthunt.PlanthuntCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".kneetag.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity android:name=".planthunt.PlanthuntCameraActivity" />
        <activity android:name=".planthunt.PlanthuntResultActivity" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AuthUiActivity"
            android:exported="true" />
        <activity
            android:name=".BarcodeInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AdditionalProductInformationActivity"
            android:exported="false"
            android:parentActivityName=".BarcodeInformationActivity" />
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInfoActivity"
            android:exported="true" />
        <activity
            android:name=".auth.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".HomeScreenActivity" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".api.PlantnetApi"
            android:exported="false" />
        <activity
            android:name=".kneetag.FinishScreen"
            android:exported="false"
            android:screenOrientation="landscape"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ch.epfl.sdp.healthplay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
