<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sdp.healthplay" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.HealthPlay" >
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".KneetagDescription"
            android:exported="false" />
        <activity
            android:name=".PlanthuntDescription"
            android:exported="false" />
        <activity
            android:name=".GamesMenu"
            android:exported="false" />
        <activity
            android:name=".BarcodeInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInfoActivity"
            android:exported="false" />
        <activity
            android:name=".GreetingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>